<app-header></app-header>
<app-banner></app-banner>
<router-outlet></router-outlet>

 <!-- feature_part start-->
 <section class="feature_part padding_top">
    <div class="container">
        <!--<div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>Featured Category</h2>
                </div>
            </div>
        </div>-->
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-7 col-sm-6">
                <div class="single_feature_post_text">
                    <p>EspOnline</p>
                    <h3>Best Online Shopping</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <img width="600px" height="300vh" src="../assets/img/feature/feature_1.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="single_feature_post_text">
                    <p>EspOnline</p>
                    <h3>Best Online Shopping</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <img src="../assets/img/feature/feature_2.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="single_feature_post_text">
                    <p>EspOnline</p>
                    <h3>Best Online Shopping</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <img src="../assets/img/feature/feature_3.png" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="single_feature_post_text">
                    <p>EspOnline</p>
                    <h3>Best Online Shopping</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <img src="../assets/product_4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
